<a href="https://colab.research.google.com/github/WorkerStudy/Data-Analysis-with-Python/blob/main/Py_8_Python_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задача 1

В рассказе Артура Конан Дойля «Глория Скотт» юный Шерлок Холмс сумел прочитать шифрованное письмо, текст которого в переводе Г. Любимова приведён в примере: в письме нужно читать только каждое третье слово (как будто непонятно, что может означать слово «берегитесь»!). Напишите программу, которая вычленяет из введённой строки каждое третье слово. Знаки препинания считать частью слова, даже если это приводит к неверной пунктуации (как, например, в примере, где не должны стоять запятые после подлежащего «дело» и после подлежащего «Хадсон»).

**Формат ввода**

Одна строка, состоящая из нескольких слов.

**Формат вывода**

Одна строка, включающая каждое третье слово из введённой строки; слова разделены пробелами.

**Пример**

**Ввод**

С дичью дело, мы полагаем, закончено. Глава предприятия  Хадсон,  по сведениям, рассказал о мухобойках всё. Фазаньих курочек берегитесь.

**Вывод**

дело, закончено. Хадсон, рассказал всё. берегитесь.

In [7]:
lineStr = input()

formattedLineStr= lineStr.split()

for index in range(2, len(formattedLineStr),3):
    print(formattedLineStr[index],end=" ")

С дичью дело, мы полагаем, закончено. Глава предприятия Хадсон, по сведениям, рассказал о мухобойках всё. Фазаньих курочек берегитесь.
['С', 'дичью', 'дело,', 'мы', 'полагаем,', 'закончено.', 'Глава', 'предприятия', 'Хадсон,', 'по', 'сведениям,', 'рассказал', 'о', 'мухобойках', 'всё.', 'Фазаньих', 'курочек', 'берегитесь.']
дело, закончено. Хадсон, рассказал всё. берегитесь.

## Задача 2

Напишите программу для построения горизонтальных столбчатых диаграмм с помощью символа звёздочки. Подсказка: выводя строку, не используйте для этого цикл.

**Формат ввода**

Вводится несколько натуральных чисел, разделённых пробелами.

**Формат вывода**

Для каждого введённого числа выводится строка, состоящая из звёздочек *, длина которой равна этому числу.

**Пример**

**Ввод**

3 7 1 10 8

**Вывод**

![image.png]()

In [9]:
inputNums = input()

for num in inputNums.split():
    print("*"*int(num))

3 7 1 10 8
***
*******
*
**********
********

## Задача 3

Используя списочное выражение и метод **split**, составьте список из введённых чисел, записанных на одной строке без указания заранее их количества; затем выведите их квадраты также на одной строке.

**Формат ввода**

Несколько натуральных чисел на одной строке.

**Формат вывода**

Несколько чисел на одной строке.

**Пример**

**Ввод**

7 1 6

**Вывод**

49 1 36

**Примечания**

В задаче обязательно использовать списочное выражение.

In [13]:
inputNums = input().split()
outputNums= list()
for num in inputNums:
     outputNums.append( str(int(num)*int(num)))
print(" ".join(outputNums))

7 1 6
49 1 36

## Задача 4

Напишите программу, которая выводит слова введённой строки (части, разделённые символами пустого пространства) в столбик. Нужно обойтись без явного использования циклов и списочных выражений, в программе должен быть всего один вызов print.

**Формат ввода**

Одна строка.

**Формат вывода**

Слова, каждое на отдельной строке.

**Пример**

**Ввод**

И волны клянутся всеводному Цику  оружие бурь до победы не класть.

**Вывод**

И

волны

клянутся

всеводному

Цику

оружие

бурь

до

победы

не

класть.

In [14]:
inputLine = input()

print ("\n".join(inputLine.split()))

И волны клянутся всеводному Цику оружие бурь до победы не класть.
И
волны
клянутся
всеводному
Цику
оружие
бурь
до
победы
не
класть.

## Задача 5

Найдите сумму чисел из введённого набора от данного номера до данного номера. Например, если введены номера «2 4», то нужно найти сумму чисел в наборе со 2-го по 4-е.

**Формат ввода**

На первой строке вводится набор целых чисел, разделённых пробелами.
На второй строке вводятся два целых числа M и K, не меньших нуля и меньших количества чисел в наборе. Это номера в наборе, отмечающие начало и конец той части набора, которую нужно просуммировать. Нумерация идёт с нуля.

**Формат вывода**

Выводится одно число — сумма чисел в наборе, начиная с M-го и заканчивая K-м (включительно).

**Пример**

**Ввод**

9 4 8 100 8000 444

2 4

**Вывод**


8108

In [28]:
numbers = input().split()
rangeNum = input().split()
outValue =0
for index in range(int(rangeNum[0]),int(rangeNum[1])+1):
     outValue+= int(numbers[index])

print(outValue)

9 4 8 100 8000 444
2 4
8108

## Задача 6

Используя списочное выражение и подходящую стандартную функцию, найдите длину самого длинного из введённых слов.

**Формат ввода**

Одна строка: слова, разделённые пробелами.

**Формат вывода**

Одно число: длина самого длинного из введённых слов.

**Пример**

**Ввод**

окажем скорейшее вспомоществование

**Вывод**

17

## Задача 7

Напишите программу, которая находит рекордное количество вхождений (не обязательно подряд) символа в строку.

**Формат ввода**

Вводится одна строка.

**Формат вывода**

Выводится одно целое число — максимальное количество раз, которое встречается какая-либо буква (без учёта регистра) или иной символ во введённой строке.

**Пример**

**Ввод**

Длинношеееед

**Вывод**

4

## Задача 8

Часто бывает нужно сосчитать, сколько в тексте печатаемых знаков. Напишите программу, которая это делает. (Запишите решение в одну строку).

**Формат ввода**

Вводится одна строка.

**Формат вывода**

Выводится одно целое число — количество символов в этой строке, не являющихся ни пробелами, ни табуляциями.

**Пример**

**Ввод**

Раз два три

**Вывод**

9

## Задача 9

Напишите программу, которая сначала считывает элементы таблицы один за другим, записывает их в список списков с именем *table*, затем выводит их в виде таблицы.

**Формат ввода**

На первых двух строках вводятся натуральные числа — количество строк (рядов) в таблице и количество столбцов в таблице.

Далее вводятся сами элементы таблицы — слова, каждое на отдельной строчке; подряд идут элементы сначала первого ряда, затем второго, и так далее.

**Формат вывода**

Ряды таблицы; каждый ряд — элементы таблицы на одной и той же строке, после каждого элемента выводится символ табуляции.

**Пример**

**Ввод**

3

2

тройка

треф

семёрка

червей

дама

пик

**Вывод**

тройка	треф

семёрка	червей

дама	пик